<!-- Button trigger modal -->
<button type="button" (click)="modalAdd()" class="btn btn-primary float-end" data-bs-toggle="modal"
  data-bs-target="#createMedicineModal">
  Add Medicine
</button>
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Dosage</th>
      <th scope="col">frequency</th>
      <th scope="col">Notes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of medicineList$|async">
      <th scope="row">#</th>
      <td>{{item.name}}</td>
      <td>{{item.dosage}}</td>
      <td>{{item.frequency}}</td>
      <td>{{item.notes}}</td>
      <td>
        <button type="button" class="btn btn-danger m-4" data-bs-toggle="modal"
          data-bs-target="#deleteModal">Delete</button>
        <button (click)="modalEdit(item)" type="button" class="btn btn-secondary" data-bs-toggle="modal"
          data-bs-target="#createMedicineModal">Edit</button>
        <!--delete confirmation-->

        <!-- Modal for deleting -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete {{item.name}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="delete(item)" type="button" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal for creating -->
<div class="modal fade" id="createMedicineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button (click)="modalClose()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-medicine [medicine]="medicine" *ngIf="activateAddEditInspectionComponent"></app-add-medicine>
      </div>
    </div>
  </div>
</div>